.header{
    display: flex;
    height: 150px;
    width: 100%;
    background-color: green;
    color: white;
    min-width: 500px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins, sans-serif';
}