.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    max-width: 100%;
}

.aproveitamento{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.aproveitamento button{
    background-color: green;
    color: white;
}

.aproveitamento button:hover{
    transform: scale(1.05);
    border: none;
}

.aproveitamento button:active{
    transform: scale(0.95);
}


.conteudo{
    display: flex;
}

.iconExclamacao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50px;
    font-size: 100px;
}

.form{
    width: 70%;
    margin-bottom: 100px;
}

.comprovante{
    width: 50%;
    margin-bottom: 100px;
}

.secao{
    background-color: white;
    margin-bottom: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 100px;
    width: 100%;
}

.secao h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 70px;
}

.secao p{
    font-size: 20px;
}

.inputsSecao{
    display: flex;
    justify-content: space-between;
}

.coluna{
    flex: 1;
    margin: 0 10px;
    width: 100%;
    overflow: hidden;
}


.submitButton{
    display: flex;
    justify-content: end;
}

.submitButton button{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
}

.submitButton button:hover{
    transform: scale(1.05);
    background-color: rgb(41, 255, 41);
}

.submitButton button:active{
    transform: scale(0.95);
    background-color: rgb(20, 50, 20);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 10;
}