.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    max-width: 100%;
}

.aproveitamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .aproveitamento{
        display: block;
    }
}

.aproveitamento button{
    background-color: green;
    color: white;
}

.aproveitamento button:hover{
    transform: scale(1.05);
    border: none;
}

.aproveitamento button:active{
    transform: scale(0.95);
}


.conteudo{
    display: flex;
}

.iconExclamacao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: clamp(1rem, 3vw, 10rem); 
    font-size: clamp(3rem, 5vw, 8rem);
}

.form{
    width: 70%;
    margin-bottom: 100px;
}

.comprovante{
    width: 80%;
    margin-top: 100px;
}

.comprovante h1{
    color: green;
    font-family: 'Poppins', sans-serif;
}

.dadosComprovante h2{
    color: green;
}


.dadosComprovante{
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px;
}

.secao{
    background-color: white;
    margin-bottom: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* padding: 30px 100px; */
    padding: clamp(1rem, 1.5vw, 8rem) clamp(1rem, 5vw, 8rem);
    width: 100%;
}

.secao h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 70px;
}

.secao p{
    /* font-size: 20px; */
    font-size: clamp(1rem, 1vw, 8rem);
}

.inputsSecao{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .inputsSecao{
        display: block;
    }
}

.coluna{
    flex: 1;
    margin: 0 10px;
    width: 100%;
    overflow: hidden;
}


.submitButton{
    display: flex;
    justify-content: end;
}

.submitButton button{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
}

.submitButton button:hover{
    transform: scale(1.05);
    background-color: rgb(41, 255, 41);
}

.submitButton button:active{
    transform: scale(0.95);
    background-color: rgb(20, 50, 20);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 10;
}