.container{
    width: 40%;
}

label{
    font-family: 'Inter', sans-serif;;
    font-size: 15px;
    font-weight: bolder;
}

.formInput input{
    font-family: 'Nunito', sans-serif;
    padding: 4px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.formInput input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}

.erro{
    color: red;
    
}