.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    width: 80%;
    border-radius: 10px;
    padding: 100px;
}

.formInput{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    width: 40%;
}

.formInput input{
    padding: 4px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    margin: 10px 0;
}