.inputs{
    display: flex;
    justify-content: space-between;
}

.linha {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: end;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.linha div{
    display: flex;
}

.linha div p{
    margin-right: 20px;
}

@media (max-width: 930px) {
    .linha{
        display: flex;
        flex-direction: column;
    }
}

.erro{
    color: red;
}

.erroInput {
    border: 1px solid red;
    background-color: #ffe5e5;
}