.container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    /* font-size: 20px; */
    font-size: clamp(1rem, 1vw, 4rem);
    font-weight: bold;
    width: 80%;
}

.list{
    list-style-type: none;
    padding: 0;
    align-items: center;
    width: 90%;
}

.data{
    color: #666
}

.solicitacao{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
}

.contents{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 70%;
    gap: 3px;
}

.botao{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.botao button{
    width: 50%;
    background-color: green;
    color: white;
}

.botao button:hover{
    transform: scale(1.05);
}

.botao button:active{
    transform: scale(0.95);
}

@media (max-width: 750px) {
    .solicitacao{
        display: block;
    }

    .contents{
        display: block;
        width: 100%;
    }

    .botao{
        margin-bottom: 10px;
        width: 100%;
    }

    .botao button{
        width: 100%;
    }
}