*{
  box-sizing: border-box;
}

body{
  width: 100%;
}

.App{
  display: block;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  min-height: 100vh;
  width: clamp(1000px, 100vw, 2000px);
  background-color:rgb(245, 245, 245);
}